link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,400&family=Oswald:wght@200;500&family=Roboto:wght@100;300&display=swap")
link(rel="stylesheet", href="css/bootstrap.css")
link(rel="stylesheet", href="css/main.css")
